doctype html
html(lang="en")
  head
    title= "One-Click Sandwich - Delivery in Vancouver"
  body
    h1 One-Click Sandwich
    p Feeding hungry, busy people
    p -- Now serving Vancouver! --

    h2 Today's Sandwich
    p Chicken Breast
    p Steeped in citrus juices and coconut milk. Secret sauce,
        | romain lettuce, cilantro, pickled jalapenos, and crunchy
        | caramelized onions atop a toasty baguette.</p>
    a(href="address")
        button
            p Order one
            p $16.90
            p Delivered in 35 - 45 minutes

