doctype html
html(lang="en")
  head
    title= "One-Click Sandwich - Delivery in Vancouver"
  body
    h2 Thanks! Your sandwich is being made.
    p Expect delivery in 35 - 45 minutes.
        | Your delivery person will take credit card payment at the door. 

